* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("images/hero.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
  text-transform: uppercase;  
  display: flex;
}
.navigation {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  width: 100%;
  margin-top: 60px;
  gap: 40px;
  font-size: 18px;
}
.navigation a {
  text-decoration: none;
  color: white;
}
.navigation li:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #cf6d17;
}
.hero-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 300px;
  word-spacing: 4px;  
}
.hero-text-box h1 {
  font-size: 49px;
  font-weight: normal;
  text-transform: uppercase;
}
.logo {
  margin-top: 15px;
  height: 100px;
  width: auto;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
}
.btn:hover, btn:active {
  background-color: #cf6d17;
}
.btn-full {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}
.btn-ghost {
  border: 1px solid;
  color: #e67e22;
  transition: color 0.2s;
}
.btn-full:hover, .btn-full:active {
  border: 1px solid #cf6d17;
}
.btn-ghost:hover, .btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}


.section-features {
  padding: 80px 10px;
}
.row-features-header {
  margin: auto;
  max-width: 1140px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}
h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  content: " ";
  margin: auto;
  margin-top: 30px;
  font-weight: 300;
}
.header-body-contain {
  width: 800px;
  margin: auto;
}
.row-features-body {
  display: flex;
  margin: 45px auto 0px auto;
  width: 1140px;
  height: 300px;
}
.boxes {
  padding: 1%;
  width: 25%;
  height: 100%;
  margin: auto auto auto 1%;
}
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  --ionicon-stroke-width: 20px;
}
.boxes h3 {
  font-size: 110%;
  margin-bottom: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.boxes p {
  font-size: 90%;
  line-height: 145%;
}


.img-row {
  list-style: none;
  width: 100%;
  display: flex;
}
.img-fit {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.img-fit li {
  display: block;
  float: left;
  width: 25%;
}
.img-fit img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
}
.img-fit img:hover {
  opacity: 1;
  transform: scale(1.00);
}


.app-download-page {
  background-color: #f4f4f4;
  width: 100%;
  padding: 80px 10px;
}
.app-download-body {
  margin: 60px 0px 0px 0px;
  display: flex;
}
.iphone {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.iphone img {
  width: 217px;
  height: 446px;
  margin-right: 50px;
}
.instructions {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.ins-boxes {
  margin: 0px 0px 0px 40px;
  display: flex;
  height: 100px;
}
.ins-boxes p {
  width: 59%;
}
.circle-nums {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
}
.btn-app:link, .btn-app:visited {
  border: 0;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}